<div class="col-lg-3">


  <h1 class="my-4">Cyclosab</h1>
  <h5>Catégories</h5>
  <div class="list-group">

    <% for (categoryCount of categoriesCounts) { %>

    <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/<%= categoryCount.category %>">
      <%= categoryCount.category %>
      <span class="badge badge-primary badge-pill"><%= categoryCount.count %></span>
        </a>

      <% } %>


  </div>

</div>