<% const title = 'Un magasin de vélo' %>


<%- include('partials/_header.ejs', {title}) %>


<!-- Page Content -->
<div class="container container-main">

  <div class="row">

    <%- include('partials/_leftMenu', {categoriesCounts}) %>


    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row">
        <% if(products){ 
            for (product of products) { %>
        <%- include('partials/_product', {product}) %>

        <% }} %>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<%- include('partials/_footer.ejs') %>